<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天下大计</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="/favicon" />

    <link rel="stylesheet" href="/static/app.css?version={- static_version -}">
    {% if debug %}
    <link rel="stylesheet" href="/static/lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/static/lib/html5-boilerplate/dist/css/main.css">
    <script src="/static/lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.css">
    {% else %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/html5-boilerplate@6.1.0/dist/css/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/html5-boilerplate@6.1.0/dist/css/normalize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/html5-boilerplate@6.1.0/dist/js/vendor/modernizr-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-material@1.1.9/angular-material.min.css">
    {% endif %}
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--<script src="/static/lib/inobounce/inobounce.js"></script>-->
</head>

<body>

<div id="laugh-at-the-user" style="display: none; padding: 5px; text-align: center;">
    <p>天呐，你使用的居然是<b></b>。</p>
    <p>请使用一个支持ES6以及HTML5标准的现代浏览器，如最新版的Chrome、Firefox、Edge，或者Safari。</p>
</div>
<script>
    function checkUnsupportedBrowser() {
        var isUC = navigator.userAgent.match(/UCBrowser/);
        var chromeVersion = /Chrome\/(\d+)\./.exec(navigator.userAgent);
        var isOldChrome = chromeVersion && parseInt(chromeVersion[1], 10) < 40;
        var isIE = /*@cc_on!@*/ false || !!document.documentMode;
        if (isUC) return "UC浏览器";
        if (isOldChrome) return "过于老旧的Chrome浏览器";
        if (isIE) return "IE浏览器";
        return undefined;
    }

    var browserName = checkUnsupportedBrowser();
    if (browserName !== undefined) {
        document.getElementById("toast").getElementsByTagName("b")[0].innerText = browserName;
        document.getElementById("toast").style.display = "block";
    }
</script>

<div ng-controller="AppCtrl" ng-cloak>
    <md-toolbar class="md-hue-2" md-whiteframe="2">
        <div class="md-toolbar-tools">
            <md-button ng-show="current.pageType == 'achievements' || current.pageType == 'ending'"
                       class="md-icon-button" aria-label="Settings" ng-click="loadMainMenu()">
                <md-icon>arrow_back</md-icon>
            </md-button>

            <h2 flex md-truncate>天下大计</h2>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    {% if debug %}
                    <md-menu-item>
                        <md-button ng-click="loadLocalScript()">
                            <md-icon md-menu-align-target>cloud_upload</md-icon>
                            载入本地剧本
                        </md-button>
                    </md-menu-item>
                    {% endif %}
                    <md-menu-item>
                        <md-button ng-click="saveMemory()">
                            <md-icon md-menu-align-target>save</md-icon>
                            保存游戏进度
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="loadMemory()">
                            <md-icon md-menu-align-target>book</md-icon>
                            载入游戏进度
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-progress-linear class="progress-hint md-hue-1" md-mode="determinate"
                        value="{{ current.progress }}"></md-progress-linear>

    <md-content class="md-padding" flex>
        <div ng-if="!current.event" style="text-align: center;">
            <p>页面正在载入中。</p>
            <p>如果长时间没有加载，请尝试刷新页面</p>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" class="md-hue-2"></md-progress-circular>
            </div>
        </div>
        <md-card class="storyboard" ng-if="current.event">
            <md-card-header layout="row" layout-align="end center">
                <md-card-header-text>
                    <span class="md-title">{{ current.event.name }}</span>
                    <span class="md-subhead">{{ current.event.stage }}</span>
                </md-card-header-text>
            </md-card-header>

            <md-divider></md-divider>

            <img ng-if="current.image" class="md-card-image" alt="{{ current.page.image }}"
                 ng-src="{{ current.image }}">

            <div class="text-page" ng-if="current.pageType === 'text' || current.pageType === 'ending'">
                <md-card-content>
                    <!--<p ng-repeat="paragraph in current.text">{{ paragraph | safe }}</p>-->
                    <div ng-bind-html="current.html"></div>
                    <md-input-container class="md-block" ng-if="current.page.input">
                        <label>{{ current.page.input + "：" | variableRemoveScope }}</label>
                        <input type="text" ng-model="current.input" minlength="1"/>
                    </md-input-container>
                </md-card-content>

                <md-card-actions id="question-choices" layout="column" layout-align="start"
                                 ng-if="current.choices.length > 0">
                    <div class="choice-button-wrapper" ng-repeat="choice in current.choices"
                         ng-click="choice.condition && choice.condition.value() === false && explain($index)">
                        <md-button ng-click="choose($event, $index)"
                                   ng-disabled="{{ choice.condition && choice.condition.value() === false }}">
                            {{ $index + 1 | character }}. {{ valueOf(choice.text) }}
                        </md-button>
                    </div>
                </md-card-actions>
                <md-card-actions layout="column" layout-align="center end"
                                 ng-if="current.choices.length === 0 && current.pageType != 'ending'">
                    <md-button ng-click="choose($event, -1)">继续</md-button>
                </md-card-actions>
            </div>

            <div class="deadline-page" ng-if="current.pageType == 'deadline'">
                <md-card-content>
                    <p>剩余时间：<b>{{ deadline.timeRemaining }}</b> 秒</p>
                    <div style="width: 100%; position: relative; margin-bottom: 5px;">
                        <div style="display: inline;"><b>{{ current.page.deadline.title }}</b> 进度：</div>
                        <b ng-if="deadline.grade > 0" style="display: inline; position: absolute; right: 0;">
                            {{ deadline.gradesList[deadline.grade] }}</b>
                    </div>
                    <div class="deadline-progress-container">
                        <md-progress-linear ng-repeat="target in deadline.targetsPercentage"
                                            class="deadline-progress-target md-hue-2" md-mode="determinate"
                                            value="{{ target }}"></md-progress-linear>
                        <md-progress-linear class="deadline-progress" md-mode="determinate"
                                            value="{{ deadline.progress }}"></md-progress-linear>
                    </div>
                    <div class="deadline-board" md-whiteframe="1">
                        <md-button id="work-button" ng-click="deadlineClick(1)" class="md-fab md-primary"
                                   style="z-index: 5;">肝!
                        </md-button>
                        <md-button ng-repeat="badChoice in deadline.badChoicesText"
                                   ng-click="deadlineClick(-$index - 1)" class="md-raised"
                                   style="z-index: {{ (deadline.badChoicesText.length - $index) * 2 }};">
                            {{ badChoice }}
                        </md-button>
                        <div class="deadline-board-countdown">
                            <div><b>GO!</b></div>
                        </div>
                    </div>
                </md-card-content>
            </div>

            <div class="achievements-page" ng-if="current.pageType == 'achievements'">
                <md-card-content>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-repeat="achievement in achievements" ng-click="null">
                            <img ng-src="/static/image/{{ achievement.image }}" class="md-avatar" alt=""/>
                            <div class="md-list-item-text">
                                <h3>{{ achievement.name }}</h3>
                                <p>{{ achievement.text }}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </div>
        </md-card>
    </md-content>
</div>

{% if debug %}
<script src="/static/lib/angular/angular.js"></script>
<script src="/static/lib/angular-animate/angular-animate.js"></script>
<script src="/static/lib/angular-aria/angular-aria.js"></script>
<script src="/static/lib/angular-material/angular-material.js"></script>
<script src="/static/lib/angular-sanitize/angular-sanitize.js"></script>
{% else %}
<script src="https://cdn.jsdelivr.net/npm/angular@1.7.0/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-route@1.7.0/angular-route.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-aria@1.7.0/angular-aria.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-material@1.1.9/angular-material.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-animate@1.7.0/angular-animate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-sanitize@1.7.0/angular-sanitize.min.js"></script>
{% endif %}
<script type="text/javascript">
    let _jsVersion = "{- static_version -}";
</script>
<script src="/static/app.js?version={- static_version -}"></script>

</body>
</html>
