<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>天下大计</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="/static/lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="/static/app.css?version={- static_version -}">
    <script src="/static/lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.css">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-controller="AppCtrl" ng-cloak>
    <md-toolbar class="md-hue-2" md-whiteframe="2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 flex md-truncate>天下大计</h2>

            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="More" ng-click="$mdMenu.open($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="loadLocalScript()">
                            <md-icon md-menu-align-target>cloud_upload</md-icon>
                            载入本地剧本
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-progress-linear class="progress-hint md-hue-1" md-mode="determinate"
                        value="{{ current.progress }}"></md-progress-linear>

    <md-content class="md-padding" flex>
        <md-card class="storyboard" ng-if="current.event">
            <md-card-header layout="row" layout-align="end center">
                <md-card-header-text>
                    <span class="md-title">{{ current.event.name }}</span>
                    <span class="md-subhead">{{ current.event.stage }}</span>
                </md-card-header-text>
            </md-card-header>

            <md-divider></md-divider>

            <img ng-if="current.page.image" ng-src="/static/image/{{ current.page.image }}"
                 class="md-card-image" alt="{{ current.page.image }}">

            <div ng-if="current.page.deadline === undefined">
                <md-card-content>
                    <p ng-repeat="paragraph in current.text">{{ paragraph }}</p>
                    <md-input-container class="md-block" ng-if="current.page.input">
                        <label>{{ current.page.input + "：" | variableRemoveScope }}</label>
                        <input type="text" ng-model="current.input" minlength="1"/>
                    </md-input-container>
                </md-card-content>

                <md-card-actions layout="column" layout-align="start" ng-if="current.choices.length > 0">
                    <md-button ng-repeat="choice in current.choices"
                               ng-click="choose($index)"
                               ng-disabled="{{ choice.condition && choice.condition.value() === false }}">
                        {{ $index + 1 | character }}. {{ choice.text }}
                    </md-button>
                </md-card-actions>
                <md-card-actions layout="column" layout-align="center end"
                                 ng-if="current.choices.length === 0 && !current.ending">
                    <md-button ng-click="choose(-1)">继续</md-button>
                </md-card-actions>
            </div>
            <div class="deadline-page" ng-if="current.page.deadline">
                <md-card-content>
                    <p>剩余时间：<b>{{ deadline.timeRemaining }}</b> 秒</p>
                    <div style="width: 100%; position: relative; margin-bottom: 5px;">
                        <div style="display: inline;"><b>{{ current.page.deadline.title }}</b> 进度：</div>
                        <b ng-if="deadline.grade > 0" style="display: inline; position: absolute; right: 0;">
                            {{ deadline.gradesList[deadline.grade] }}</b>
                    </div>
                    <div class="deadline-progress-container">
                        <md-progress-linear ng-repeat="target in deadline.targetsPercentage"
                                            class="deadline-progress-target md-hue-2" md-mode="determinate"
                                            value="{{ target }}"></md-progress-linear>
                        <md-progress-linear class="deadline-progress" md-mode="determinate"
                                            value="{{ deadline.progress }}"></md-progress-linear>
                    </div>
                    <div class="deadline-board" md-whiteframe="1">
                        <md-button id="work-button" ng-click="deadlineClick(1)" class="md-fab md-primary">肝!
                        </md-button>
                        <md-button ng-repeat="badChoice in deadline.badChoicesText"
                                   id="rest-button-{{ $index + 1}}" ng-click="deadlineClick(-$index - 1)"
                                   class="md-raised">{{ badChoice }}
                        </md-button>
                    </div>
                </md-card-content>
            </div>
        </md-card>
    </md-content>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="/static/lib/angular/angular.min.js"></script>
<script src="/static/lib/angular-animate/angular-animate.min.js"></script>
<script src="/static/lib/angular-aria/angular-aria.min.js"></script>
<script src="/static/lib/angular-material/angular-material.min.js"></script>
<script src="/static/scripting.js?version={- static_version -}"></script>
<script src="/static/app.js?version={- static_version -}"></script>

</body>
</html>
